.our2 {
  padding: 20px; 
  text-align: center; 
}

.our2-head {
  color: var(--text); 
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
  letter-spacing: -1.32px;
  text-align: center;
}

.our2-subhead {
  margin-top: 5vh;
  color: var(--text); 
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  letter-spacing: -1.1px;
  text-align: center;
}

.our2-hr {
  width: 206px;
  height: 6px;
  border: none;
  background-color: #4285f4;
}

.mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.mission img {
  margin-left: 5vw;
  width: 30vw; 
}

.mission-text {
  padding: 15px;
  width: 45vw; 
  margin-right: 5vw;
  color: var(--text); 
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.66px;
  border-right: 14px solid #4285f4;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .our2-head {
    font-size: 32px; 
  }
  
  .our2-subhead {
    margin-top: 5vh;
    font-size: 35px; 
  }

  .our2-hr {
    width: 156px; 
  }

  .mission {
    flex-direction: column; 
    align-items: center;
  }

  .mission img {
    margin-top: 3vh;
    width: 90%; 
    max-width: 400px; 
  }

  .mission-text {
    color: var(--text); 
    margin-top: 5vh;
    width: 90%;
    text-align: center; 
    font-size: 20px; 
    font-weight: 400; 
    border-right: none; 
  }
}
