.Perspective3-head {
  display: flex;
  justify-content: center; 
  height: auto; 
  padding: 20px 0; 
}

.Perspective3-subhead {
  margin-top: 5vh;
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  font-size: 50px; 
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: -1.1px;
  text-align: center;
}

.Perspective3-hr {
  width: 13%;
  height: 6px;
  border: none;
  background-color: #0F9D56;
  margin: 20px auto; 
}

.perspective {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  flex-wrap: wrap; 
  margin: 20px 0;
}

.perspective img {
  margin-top: 5vh; 
  margin-right: 5vw;
  width: 40vw; 
  max-width: 400px; 
  height: auto; 
}

.perspective-text {
  padding: 15px;
  width: 45vw; 
  margin-left: 5vw;
  color: var(--text); 
  text-align: left; 
  font-family: "Open Sans", sans-serif;
  font-size: 25px; 
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: -0.66px;
  border-left: 14px solid #0F9D56;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .Perspective3-head {
      padding: 10px 0;
  }

  .Perspective3-subhead {
      margin-top: 5vh;
      font-size: 45px; 
  }

  .Perspective3-hr {
      width: 80%; 
      height: 6px;
      background-color: #0F9D56;
      margin: 20px auto; 
  } 

  .perspective {
      flex-direction: column; 
      align-items: center; 
      padding: 0 5vw;
  }

  .perspective img {
      margin-top: 3vh; 
      width: 90vw;
      max-width: 300px; 
      margin-right: 0; 
  }

  .perspective-text {
      width: 90vw; 
      margin-left: 0; 
      text-align: center; 
      font-size: 20px; 
      border-left: none; 
  }
}

@media screen and (max-width: 480px) {
  .Perspective3-subhead {
    font-size: 35px; 
    margin-top: 4vh; 
  } 

  .Perspective3-hr {
      height: 4px; 
  }

  .perspective img {
    margin-top: 2vh; 
    width: 90vw; 
    max-width: 400px; 
  }

  .perspective-text {
      font-size: 18px; 
      padding: 10px; 
  }
}
