
.technologies {
    margin-top: 2rem; 
    position: relative; 
    text-align: center; 
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; 
}


.title-container {
    display: flex;
    width: 100%; 
    margin-bottom: 2rem; 
}


.horizontal-line {
    flex-grow: 1;
    height: 2px; 
    background-color: #4a4a4a; 
    margin: 0 10px; 
}

.title {
    font-size: 2rem; 
    text-align: center;
    color: #4a4a4a;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5rem; 
    text-align: center;
    color: #4a4a4a;
    font-weight: 600;
}


.cards {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    border: 12px solid #f0f0f0; 
    border-radius: 1.5rem; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem; 
    text-align: center; 
    height: 200px; 
    width: 250px; 
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; 
}


.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9; 
}

.card.android:hover {
    box-shadow: 0 6px 20px rgba(14, 228, 14, 0.7); 
}

.card.flutter:hover {
    box-shadow: 0 6px 20px rgba(2, 139, 236, 0.7); 
}


.card.cloud:hover {
    box-shadow: 0 6px 20px rgba(227, 227, 11, 0.7); 
}


.card-image {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
}

.card-title {
    font-size: 1.5rem; 
    color: #6b6b6b; 
    font-weight: bold;
    margin-top: 0.5rem; 
}

.down-arrow {
    margin-top: 0.2rem; 
    margin-bottom: 0.5rem; 
    max-width: 100%; 
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1.5rem; 
    }

    .subtitle {
        font-size: 1.2rem; 
    }

    .cards {
        flex-direction: column; 
        align-items: center; 
    }

    .card {
        width: 90%; 
        max-width: 350px; 
        height: auto;
        margin: 1rem 0; 
    }

    .card-image {
        max-width: 80%; 
        margin-bottom: 1rem; 
    }

    .card-title {
        font-size: 1.3rem;
    }
}
